body{
    
    background-attachment: fixed;
}

button{
    color: black;
}

#divTelaCadastro{
    font-family: fantasy;
    font-size: 40px;
    
}


#divFormulario{
    background-color: whitesmoke;
    position: relative;
    border-style: inset;
    border-radius: 5%;
    width: 50%;
    border-color: cadetblue;
    
}
