.bd{
   width: 10%;
    color: black;
    background: #9575cd;
    opacity: revert;
}
#login{
    margin-right:20px;
}
buscar{
    margin:1px 10px 1px 1px;width: 30%;background: #ffffff;color: black;border-radius: 10px;
}